<app-header></app-header>
<div class="container my-5">
    <div class="row">
        <div class="col-lg-4">
            <div class="container">
                <h4>Filter</h4>
                <button (click)="getAllRecipes()" class="btn mt-5">All</button> <br>
                <!-- cuisine -->
                <button class="btn dropdown-toggle" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                    Cuisine Type
                </button> <br>
                <div class="collapse" id="collapseExample">
                   <button class="btn">Italian</button> 
                   <button class="btn">Asian</button> 
                   <button class="btn">American</button> 
                   <button class="btn">Mexican</button> 
                   <button class="btn">Pakistani</button> 
                   <button class="btn">Japanese</button> 
                   <button class="btn">Thai</button> 
                   <button class="btn">Indian</button> 
                   <button class="btn">Turkish</button> 
                   <button class="btn">Smoothie</button> 
                </div>
                <!-- mealTYpe -->
                <button class="btn dropdown-toggle" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExampleMeal" aria-expanded="false" aria-controls="collapseExampleMeal">
                    Meal Type
                </button>
                <div class="collapse" id="collapseExampleMeal">
                   <button class="btn">Dinner</button> 
                   <button class="btn">Lunch</button> 
                   <button class="btn">Snack</button> 
                   <button class="btn">Dessert</button> 
                   <button class="btn">Appetizer</button> 
                   <button class="btn">Breakfast</button> 
                   <button class="btn">Beverage</button> 
                   <button class="btn">Salad</button> 
                </div>
            </div>
        </div>
        <div class="col-lg-8">
            <div class="d-flex justify-content-between align-items-center">
                <h1>All Recipes</h1>
                <input type="text" class="form-control w-50" placeholder="Search your Recipe here!!!">
            </div>
            <div class="row my-3">
                @if (allRecipes.length>0) {
                    @for (recipe of allRecipes; track $index) {
                        <div class="col-lg-4">
                            <div class="p-3" >
                                <img [src]="recipe.image" class="card-img-top rounded" alt="...">
                                <div class="card-body mt-2">
                                  <h5 class="card-title"> {{recipe.name}}</h5>
                                  <p>Cuisine: {{recipe.cuisine}} </p>
                                </div>
                            </div>
                        </div>
                    }
                }@else {
                    <div class="fw-bolder text-center text-danger">Product Not Found!!!</div>
                }
            </div>
        </div>
    </div>
</div>
